h1{
    color: rgba(251, 142, 0, 0.778);
    background-color:rgba(22, 22, 175, 0.323);
    text-align:center;
}

p{
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color:aquamarine ;
     background-color: brown;
}